body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(47, 63, 63);
}
#navBar{
    display: flex;
    background-color: rgb(16, 24, 24);
    height: 60px;
    align-items: center;
    border-bottom: 2px solid black;
}
#navList{
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: 10px;
}  
#navList li a{
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
}
#navList li a:hover{
    transform: scale(1.2); 
    color: red;   
    transition: 0.15s ease; 
}
#content {
    background-color: rgb(47, 63, 63);
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
}
#h2-inicio {
    color: white;
    margin: 0;
    padding: 10px;
}
.series-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 18vw);
    gap: 50px;
}
.series-item img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}
.series-item img:hover {
    transform: scale(1.05); 
    transition: 0.15s ease; 
}
.namesite1, .namesite2 {
    font-size: 18px;
    color: white;   
}
.estrela-vermelha{
    width: 24px;
    height: 24px;  
    margin: 0 4px 0 20px;
}
#star{
    color: gold;
}
.series-item h3 {
    color: white;
    margin: 10px 0;
    font-size: 24px;
}
#detalhes-serie{
   display: none;
   margin: 40px 0;
}
.detalhes-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: rgb(67, 82, 82);
  border-radius: 8px;
}
.detalhes-img img {
  width: 100%;
  height: 360px;
  border-radius: 8px;
  object-fit: cover;
}
.detalhes-info {
  color: white;
  background-color: rgb(31, 39, 39);
  border-radius: 8px;
  padding: 20px;
}
#descricao-container{
    background-color: rgb(7, 7, 7);
    padding: 16px;
    border-radius: 8px;
}
.detalhes-avaliacao {
  text-align: center;
  background-color: rgb(31, 39, 39);
  color: white;
  border-radius: 8px;
  padding: 15px;
}
.estrelas-voto {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 10px 0;
}
.star-btn {
    font-size: 18px;
    cursor: pointer;
    color: #555;
}
.star-btn.active {
    color: gold;
}
#btn-avaliar {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}
#feedback-voto {
    margin-top: 10px;
    font-size: 13px;
    color: #00ff00;
}
hr { margin-bottom: 10px; }