body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#navBar{
    display: flex;
    background-color: rgb(16, 24, 24);
    height: 60px;
    align-items: center;
    border-bottom: 2px solid black;
}
#navList{
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: 10px;
}  
#navList li a{
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;

}

#navList li a:hover{
    transform: scale(1.2); 
    color: red;   
    transition: 0.15s ease; 
}
#content {
    background-color: rgb(47, 63, 63);
    height: calc(100vh - 60px);
    width: 100%;
    padding-left: 60px;
    box-sizing: border-box;
    padding-right: 60px;
}
#h2-inicio {
    color: white;
    margin: 0;
    padding: 10px;
}
.series-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 18vw);
    gap: 50px;
}
.series-item img {
    width: 100%;
    aspect-ratio: 2 / 3; /* padrão de pôster */
    object-fit: cover;
    border-radius: 8px;

}

.namesite1{
 font-size: 18px;
 color: white;   
 
}

.namesite2{
 font-size: 18px;   
 color: white;
}

.estrela-vermelha{
 width: 24px;
 height: 24px;  
 margin-left: 20px;
 margin-right: 4px;
}